# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.venv/
ENV/

# Credentials and Tokens
credentials.json
token.json
*.pickle

# Sensitive credential files
base64_credentials.txt

# Vercel
.vercel/

# IDE and OS
.DS_Store
.idea/
.vscode/
*.swp
*.swo

# Logs and Databases
*.log
*.sqlite3

# Dependency directories
node_modules/

# Environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Build and distribution
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints

# Specific large CSV files
Table2.csv

.vercel
