# Web Framework
flask==3.0.3
flask-cors==3.0.10
werkzeug==2.3.8

# Web Scraping and Parsing
requests==2.27.1
beautifulsoup4==4.10.0
python-dateutil==2.8.2
requests-cache==0.9.7

# Google API Integration
google-api-python-client==2.33.0
google-auth-oauthlib==0.5.1
google-auth-httplib2==0.1.0

# Configuration
python-dotenv==0.20.0

# Serverless Deployment
gunicorn==20.1.0
